.container {
    border-bottom: 1px solid rgb(221, 209, 209);
    border-left: 1px solid rgb(221, 209, 209);
    border-right: 1px solid rgb(221, 209, 209);
    display: flex;
    align-items: center;
    padding: 1em;
}


.checkbox-container {
    width: 7%;
}

.name {
    width: 25%;
}

.email {
    width: 35%;
}

.role {
    width: 18%;
}

.actions {
    width: 13%;
    font-weight: 500;
}

.action-container {
    display: flex;
    width: 13%;
    gap: 10px;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.action-btn img {
    width: 15px;
}

.action-btn img:last-child {
    width: 18px;
    
}

.heading {
    background-color: #EFF2F5;
}


.input {
    padding: 6px;
    width: 70%;
    /* font-size: 16px; */
}


.selected {
    background-color: #a3a0a9;
}
