:root {
    --font-family: 'Roboto', sans-serif;
  }
  
  body {
    font-family: var(--font-family);
  }

  /* CSS reset */
  *, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }